<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{layout :: html(content=~{::div})}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div>
    <h1>Dashboard</h1>

    <div class="stat-card-holder">
        <div th:replace="::card(caption='New issues', color='red', icon_name='file_text_o.svg', value=${newIssuesNumber})"></div>
        <div th:replace="::card(caption='Pending issues', color='orange', icon_name='ellipse_circle_o.svg', value=${pendingIssuesNumber})"></div>
        <div th:replace="::card(caption='Assigned issues', color='blue', icon_name='arrow_right.svg', value=${assignedIssuesNumber})"></div>
        <div th:replace="::card(caption='In progress issues', color='green', icon_name='refresh.svg', value=${inProgressIssuesNumber})"></div>
    </div>

    <h3>Recent Issues</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>POS Name</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="issue : ${recentIssues}">
            <td th:text="${issue.id}">1</td>
            <td th:text="${issue.pos.name}">Pos Name</td>
            <td th:text="${issue.status.value.displayName}">New</td>
            <td th:text="${issue.createdAt}">2023-01-01</td>
        </tr>
        </tbody>
    </table>

    <div style="display: none">
        <div th:fragment="card" th:classappend="${color}" class="stat-card">
            <div class="stat-top">
                <svg class="stat-icon">
                    <use th:href="@{${'/icons/' + icon_name}}"/>
                </svg>
                <span th:text="${value}" class="stat-number">0</span>
            </div>
            <span th:text="${caption}" class="stat-caption"></span>
            <div class="stat-link">
                <span>View details</span>
                <svg class="stat-link-icon">
                    <use th:href="@{/icons/arrow_circle_right_o.svg}"/>
                </svg>
            </div>
        </div>
    </div>
</div>
</body>
</html>